<div class="row">
  <div class="col-xs-12 text-center">
    <h1>My contacts</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Telephone</th>
          <th colspan="3" style="text-align:right">
            <%= link_to 'New contact', new_contact_path(current_user), class: 'btn btn-success' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @contacts.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>there are no registered contacts</h3>
              <%= link_to 'click here', new_contact_path %> to add your first contact
            </td>
          </tr>
        <% end %>
        <% @contacts.each do |c| %>
        <tr>
          <td>
            <%= c.name %>
          </td>
          <td>
            <%= c.phone %>
          </td>
          <td>
            <%= link_to 'Edit', edit_contact_path(c), class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Delete', contact_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>